body {background-color: #E1C9C6}

.banner_top {
	background-color: #B0AFC3; 
	text-align: center; vertical-align: middle; 
	border:1px solid;
	border-radius:10px;
	font-family:'Cabin sketch', cursive;
}

.left {
	padding: 2%;
	width:20%;
	background-color:#E1DEC6;
	border-radius:5px;
	font-family: 'Cabin Sketch', cursive;
	float:left;
	border:1px solid;
	margin-top:5px;
}

.right {
	padding: 2%;
	width: 71%;
	float:right;
	border-radius:5px;
	background-color:#72917A;
	font-family: 'courier', monospace;
	border:1px solid;
	margin-top:5px;
}



